{% extends "base.jinja2" %}
{% block title %}Qr коды{% endblock %}
{% block content %}
    {% for racer_num, url, img_path in racers %}
        <p style="page-break-before: always" ></p>
        <h2>Гонщик {{racer_num}}</h2>
        <a href={{url}}>{{url}}</a>
        <br />
        <img src={{img_path}}>
    {% endfor %}
{% endblock %}
